body { 
    color: rgb(81, 52, 137);
    background: rgb(81, 52,137, 1);
    margin: 0px;
    font-family: "Libertinus Sans", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px darkblue;
    padding: 20px;
    font-size: 32px;
    color: rgb(157, 157, 217, 1);
 }

 
.chamada {
    background:rgb(157, 157, 217, 1); ;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

}


.chamada-texto { 
    margin-right: 5%;

}

 h1 {
    font-size: 35px;
}

 p { 
     font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
   padding-left: 20px;
   padding-right: 20px;
   margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
     height: 200px ;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid
}

.categoria h2 {
    color: rgb(157, 157, 217, 1);

}